{% extends 'base.html'%} {% block content %}
<h3 class="art-deco-font mb-3">Add your Recipe</h3>
<div class="row">
    <div class="col s12">
        <div class="row white form-padding">
            <div class="input-field col s12">
                <input placeholder="Name" id="recipe_name" name="recipe_name" type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row white form-padding">
            <div class="input-field col s12">
                <input placeholder="Description" id="recipe_description" name="recipe_description" type="text" class="validate" required>
                <label for="recipe_description">Description</label>
            </div>
        </div>
        <div class="row white form-padding">
            <div class="input-field col s12">
                <select class="form-select" id="flavour" name="flavour" required>
                    <option value="" disabled selected>Choose Flavour (*)</option>
                    {% for flavour in flavour %}
                    <option value="{{flavour.flavour}}">{{flavour.flavour}}</option>
                    {% endfor %}
                </select>
                <label>Flavour</label>
            </div>
        </div>
        <div class="row white form-padding">
            <div class="input-field col s12">
                <select class="form-select" id="meal_type" name="meal_type" required>
                    <option value="" disabled selected>Choose Meal Type (*)</option>
                    {% for meal in meal_type %}
                    <option value="{{meal.meal_type}}">{{meal.meal_type}}</option>
                    {% endfor %}
                </select>
                <label>Meal Type</label>
            </div>
        </div>
        <div class="row white form-padding">
            <div class="input-field col s12">
                <select class="form-select" id="base_ingredient" name="base_ingredient" required>
                    <option value="" disabled selected>Choose Base Ingredient (*)</option>
                    {% for base in base_ingredient %}
                    <option value="{{base.base_ingredient}}">{{base.base_ingredient}}</option>
                    {% endfor %}
                </select>
                <label>Base Ingredient</label>
            </div>
        </div>
        <div class="row white form-padding">
            <div class="input-field col s12">
                <input placeholder="Please Enter Recipe Image URL eg: 'Http://www.images.com/sample.jpg" id="recipe_image_url" name="recipe_image_url" type="text" class="validate" required>
                <label for="recipe_image_url">Recipe Image</label>
            </div>
        </div>
        <div class="row white form-padding">
            <select class="form-select" id="is_vegan" name="is_vegan" required>
                <option value="" disabled selected>Is this recipe Vegan? (*)</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <label>Vegan</label>
        </div>
        <div class="row white form-padding">
            <h5>Ingredients:</h5>
            <div id="ingredient-adder">
                <div class="ingredient-field">
                    <div class="input-field col s12 m3">
                        <input id="quantity-0" name="quantity-0" type="number" step="0.01" class="validate">
                        <label for="quantity-0">Quantity (*)</label>
                    </div>
                    <div class="input-field col s12 m2">
                        <input value="" id="measure_unit-0" name="measure_unit-0" type="text" class="validate" required>
                        <label for="measure_unit">Measure Unit (*)</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input value="" id="ingredient_name-0" name="ingredient_name-0" type="text" class="validate" required>
                        <label for="ingredient_name">Ingredient Name (*)</label>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <a id="remove-ingredient-btn" class="#b71c1c red darken-4 btn-small margin-right-xs">Remove Ingredient <i class="fas fa-minus-circle fa-xs"></i></a>
                <a id="add-ingredient-btn" class="#1b5e20 green darken-4 btn-small">Add Ingredient <i class="fas fa-plus fa-xs"></i></a>
            </div>
        </div>
        <div class="row white form-padding">
            <h5>Steps:</h5>
            <div id="step-adder">
                <div class="input-field col s12">
                    <div class="step-field">
                        <input value="" id="step-0" name="step-0" type="text" class="validate step-class" required>
                        <label for="step-0">Step</label>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <a id="remove-step-btn" class="#b71c1c red darken-4 btn-small margin-right-xs">Remove Step <i class="fas fa-minus-circle fa-xs"></i></a>
                <a id="add-step-btn" class="#1b5e20 green darken-4 btn-small">Add Step <i class="fas fa-plus fa-xs"></i></a>
            </div>
        </div>
        <div class="row white form-padding">
            <div class="input-field col s12">
                <input placeholder="Date DD, Month, YYYY. i.e. 12 January, 2018" id="date_added" name="date_added" type="text" class="validate" required>
                <label for="date_added">Date added</label>
            </div>
        </div>
   
        <div class="row white form-padding">
            <div class="input-field col s12">
                <input disabled value="{{session['username']}}" id="author_name" name="author_name" type="text" class="validate">
                <label for="author_name">Author Name</label>
            </div>
        </div>
    </div>
    <a class="btn waves-effect waves-light margin-right-xs" name="action" href="/get_my_recipes">
            Go Back without Saving <i class="fas fa-arrow-circle-left fa-xs"></i>
        </a>
    <a id="submit-form-button" href="/get_my_recipes" class="#880e4f pink darken-4 btn waves-effect waves-light" name="action" data-url="{{ url_for('write_to_recipe_database') }}">
        Submit <i class="far fa-check-circle fa-xs"></i>
    </a>
    <!--<button id="submit-form-button" class="btn waves-effect waves-light" name="action" data-url="{{ url_for('write_to_recipe_database') }}">-->
    <!--    Submit <i class="fas fa-glass-martini-alt fa-xs"></i>-->
    <!--</button>-->
</div>


<script>
    // Go back button - START
    $('#back-button').on('click', function(e){
        e.preventDefault();
        window.history.back();
    });
    // Go back button - END
</script>
{% endblock %}