{% extends 'base.html'%} {% block content %}
<h2 class="art-deco-font">Search for a recipe</h2>
<!-- Attempt with example - START -->
<div class="container" id="selector-container">
    <p>Select the characteristics of the meal you're looking for...</p>
    <div id="select1" class="search-selector">
        <p class="no-margin  art-deco-font">Recipe Name</p>
    </div>
    <div id="select2" class="search-selector">
        <p class="no-margin  art-deco-font">Meal Type</p>
    </div>
    <div id="select3" class="search-selector">
        <p class="no-margin  art-deco-font">Base Ingredient</p>
    </div>
    <div id="select4" class="search-selector">
        <p class="no-margin  art-deco-font">Vegan Filter</p>
    </div>
<!--<div style="clear: both"></div>-->
<div id="cocktails-found"><strong><span></span> Recipes Found</strong></div>
<div id="datatable"></div>
<!-- Attempt with example - END -->

<p id="hidden-recipes-search" hidden>{{recipes|safe}}</p>
<script>
/*global $*/
/*global dc*/
/*global crossfilter*/

    $(document).ready(function() {
                
        var recipesText = $('#hidden-recipes-search').text();
        var recipesJson = JSON.parse(recipesText);
        
        var recipesList = [];
        
        for (i in recipesJson) {
            recipesList.push(recipesJson[i]);
        }
        
        // Getting search - START
        var select1 = dc.selectMenu('#select1'),
            select2 = dc.selectMenu('#select2'),
            select3 = dc.selectMenu('#select3'),
            select4 = dc.selectMenu('#select4'),
            // numberDisplay = dc.numberDisplay('#found-recipes');
            datatable = dc.dataTable('#datatable');
            
        // Fixing the selector classes - START

        $('#selector-container').find('select').addClass('browser-default');
        // Fixing the selector classes - END
            
        // create vars for selector
        var baseName = []
        for (var i =0; i < recipesList.length; i++) {
            baseName.push(recipesList[i]['recipe_name'])
        }
        var cocktailType = []
        for (var i =0; i < recipesList.length; i++) {
            cocktailType.push(recipesList[i]['meal_type'])
        }
        var flavourProfile = []
        for (var i =0; i < recipesList.length; i++) {
            flavourProfile.push(recipesList[i]['base_ingredient'])
        }
        var isVegan = []
        for (var i =0; i < recipesList.length; i++) {
            isVegan.push(recipesList[i]['is_vegan'])
        }
        
        // Create vars for table content
        var recipeName = []
        for (var i =0; i < recipesList.length; i++) {
            recipeName.push(recipesList[i]['recipe_name'])
        }
        
        
        var ndx = crossfilter(recipesList),
            spiritDimension = ndx.dimension(function(d) { return d.recipe_name; }),
            typeDimension = ndx.dimension(function(d) { return d.meal_type; }),
            flavourDimension = ndx.dimension(function(d) { return d.base_ingredient; }),
            veganDimension = ndx.dimension(function(d) { return d.is_vegan; }),
            nameDimension = ndx.dimension(function(d) { return d._id; });
        select1
            .dimension(spiritDimension)
            .group(spiritDimension.group())
            .controlsUseVisibility(true);
        select2
            .dimension(typeDimension)
            .group(typeDimension.group())
            // .multiple(true)
            // .numberVisible(10)
            .controlsUseVisibility(true);
        select3
            .dimension(flavourDimension)
            .group(flavourDimension.group())
            // .multiple(true)
            // .numberVisible(10)
            .controlsUseVisibility(true);
        select4
            .dimension(veganDimension)
            .group(veganDimension.group())
            .controlsUseVisibility(true);
        datatable
            .dimension(nameDimension)
            .group(function(d) { 
                return ['<a href="' + 'recipedetail/' + d._id + '">' + '<strong>' + d.recipe_name + '</strong>' + '</a>' + ': ' + d.recipe_description]; 
            })
            // .columns([' Cocktails Found'])
            .size(recipesList.length);
            
        
        // Calculate cocktails found - START
        cocktailsFound = '';
        $('.search-selector').on('change', function() {
            // I count the amount of 'td' to get the total of cocktails found
            cocktailsFound = $( 'td' ).length;
            
            console.log('cocktailsFound: ', cocktailsFound);
            $('#cocktails-found span').empty().prepend(cocktailsFound);
            
        });
        
        // Calculate cocktails found - END
        
        dc.renderAll();
        // Getting search - END
        

        

    });
</script>
{% endblock %}