/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */




/* GENERAL */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.no-margin {
    margin: 0;
    padding: 0;
}

.margin-right-xs {
    margin-right: 1em; 
}

.my-container {
    min-height: 35em;
}

.art-deco-font {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.hidden {
    visibility: hidden;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #c2185b;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #4db6ac;
}


/* NAV BAR */

a {
  color: #c2185b;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* SECTIONS */



/* FORMS */
.float-right {
    float: right;
}

.form-padding {
    padding: 1em;
}

#card-horizontal-title {
    margin-left: 1em;
}

/* ALL Recipes */

.class-size {
    height: 9em;
}

#description {
    height: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card-title-spice {
    background-color: #4db6ac;
    opacity: 0.75;
    width: 100%;
    height: 2em;
}

.fix-image-size > h4 {
    color: white;
    font-size: 3em;
    position: relative;
    left: 1em;
    top: 2em;
    text-shadow: 3px 2px 3px rgba(50, 50, 50, 1);
}

.card-title-spice > #recipe_name {
    font-size: 0.9em!important;
    padding-bottom: 0px;
    white-space: nowrap; 
    width: 8em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#load-more-spice {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

#load-more-spice > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#sorting-bar {
    margin: 0.8em;
    height: 5em;
}

#sorting-bar > h4 {
    color: white;
}


#sorting-bar > a {
    color: #00695c;
    margin-top: 1.5em;
    /*width: 25%*/
    margin-right: 0.5em;
}

/* USER RECIPES */

.add-recipe-box {
    margin-top: 2em;
    padding-bottom: 2em!important;
}

.add-recipe-box > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#top-collection-item {
    padding-top: 2em!important;
}

#bottom-collection-item {
    padding-bottom: 1px!important;
}

#my-recipe-name {
    font-size: 2em;
}

#my-recpe-description {
    margin-top: 1em;
}

#sorting-bar-my-recipes {
    width: 100%;
}

#sorting-bar-my-recipes > h4 {
    color: white;
}


#sorting-bar-my-recipes > a {
    color: #00695c;
    margin-top: 1.5em;
    /*width: 25%*/
    margin-right: 0.5em;
}


/* Rating Star Widgets Style */
.rating-stars div {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars div > button.star {
  display:inline-block;
  background-color: transparent;
  border: none;
  
}

/* Idle State of the stars */
.rating-stars div > button.star > i.fa {
  font-size:1em; /* Change the size of the stars */
  color:#999999; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars div > button.star.hover > i.fa {
  color:#ff4da6;
}

/* Selected state of the stars */
.rating-stars div > button.star.selected > i.fa {
  color:#800040;
}


/* My Dashboard */

/*#log-in-buttons {*/
    /*position: relative;*/
    /*bottom: -12em;*/
/*}*/

#counter-box-my-recipes {
    width: 8em;
    height: 8em;
    color: white;
}

#counter-box-my-recipes > .number-display {
    font-size: 3em;
}

#counter-box-my-recipes > p {
    font-size: 1.4em;
    margin-bottom: 0;
}

#reset-button {
    margin-top: 1.3em;
}

.margin-left {
    margin-left: 1em;
}

/*#meal-type-bar-chart .x-axis-label {*/
    /*font-size: 2em!important;*/
    /*transform: translate(10em, 15em);*/
/*    z-index: 1;*/
/*}*/


.dc-chart th {
    text-align: left
}
.dc-chart th,.dc-chart td {
  padding-left: 10px;
}
.dc-chart tr.dc-table-group td {
  padding-top: 4px;
  border-bottom: 1px solid black;
}
.dc-chart select {
  width: 150px;
}

#selector-container > div > select {
    display: block;
}

.search-selector {
    display: inline-block;
}

.search-selector > p {
    font-size: 2em;
}

#teal-box {
    height: 100px;
}

#meal-found {
    margin-top: 1em;
    margin-bottom: 1em;
}

#datatable {
    margin-bottom: 2em;
}

/* FOOTER */

#footer-custom {
    width: 100%;
    position: relative;
    bottom: 0px;
    padding: 0px;
}

.footer-heading {
    font-size: 1.2em;
}

.footer-text {
    font-size: 0.8em;
}



/* MEDIA QUERIES */

@media (max-width:415px) {
    .mobile-hide {
        display: none!important;
    }
    
    #counter-box-my-recipes {
    width: 6em;
    height: 6em;
    color: white;
    }

    #counter-box-my-recipes > .number-display {
        font-size: 2.5em;
    }
    
    #counter-box-my-recipes > p {
        font-size: 1em;
        margin-bottom: 0;
    }
}

.fa-heart {
  color: red;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  width: 100%;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
 .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.clearfix {
  clear:both;
}

.text-center {text-align:center;}

a {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: #c2185b;
}

pre {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.42857143;
color: #333;
word-break: break-all;
word-wrap: break-word;
background-color: #F5F5F5;
border: 1px solid #CCC;
border-radius: 4px;
}

.header {
  padding:20px 0;
  position:relative;
  margin-bottom:10px;
  
}

.header:after {
  content:"";
  display:block;
  height:1px;
  left:30%; right:30%;
}

.header h2 {
  font-size:3em;
  font-weight:300;
  margin-bottom:0.2em;
}

.header p {
  font-size:14px;
}



#a-footer {
  margin: 20px 0;
}

.new-react-version {
  padding: 20px 20px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

.new-react-version .react-svg-logo {
  text-align: center;
  max-width: 60px;
  margin: 20px auto;
  margin-top: 0;
}





.success-box {
  margin:20px 0;
  padding:10px 10px;
  border:1px solid #eee;
  background:#f9f9f9;
}

.success-box img {
  margin-right:10px;
  display:inline-block;
  vertical-align:top;
}

.success-box > div {
  vertical-align:top;
  display:inline-block;
  color:#888;
}



/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

/* Social Icons */


.btn.social > :first-child,
.btn-large.social > :first-child,
.col.social > :first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn.social,
.btn-large.social,
.col.social {
  padding: 0 2rem 0 0;
}
.btn.social i,
.btn-large.social i,
.col.social i {
  padding: 0 1rem;
  margin-right: 1rem;
}
.btn.social-icon,
.btn-large.social-icon,
.col.social-icon {
  padding: 0;
}
.btn.social-icon i,
.btn-large.social-icon i,
.col.social-icon i {
  padding: 0 1rem;
  margin-right: 0;
}
.btn-large.social-icon {
  padding: 0 1rem;
}
.col.social {
  width: 100%;
  text-align: left;
}
.col.social i.fa-fw {
  width: 3.2rem;
}
.adn {
  background-color: #d87a68;
  color: #fff !important;
}
.adn i {
  color: #fff !important;
}
.adn:hover {
  background-color: #e29e91 !important;
}
.bitbucket {
  background-color: #205081;
  color: #fff !important;
}
.bitbucket i {
  color: #fff !important;
}
.bitbucket:hover {
  background-color: #2a69aa !important;
}
.dropbox {
  background-color: #1087dd;
  color: #fff !important;
}
.dropbox i {
  color: #fff !important;
}
.dropbox:hover {
  background-color: #309ff0 !important;
}
.facebook {
  background-color: #3b5998;
  color: #fff !important;
}
.facebook i {
  color: #fff !important;
}
.facebook:hover {
  background-color: #4c70ba !important;
}
.flickr {
  background-color: #ff0084;
  color: #fff !important;
}
.flickr i {
  color: #fff !important;
}
.flickr:hover {
  background-color: #ff339d !important;
}
.foursquare {
  background-color: #f94877;
  color: #fff !important;
}
.foursquare i {
  color: #fff !important;
}
.foursquare:hover {
  background-color: #fb799c !important;
}
.github {
  background-color: #444444;
  color: #fff !important;
}
.github i {
  color: #fff !important;
}
.github:hover {
  background-color: #5e5e5e !important;
}
.google {
  background-color: #dd4b39;
  color: #fff !important;
}
.google i {
  color: #fff !important;
}
.google:hover {
  background-color: #e47365 !important;
}
.instagram {
  background-color: #3f729b;
  color: #fff !important;
}
.instagram i {
  color: #fff !important;
}
.instagram:hover {
  background-color: #548cb9 !important;
}
.linkedin {
  background-color: #007bb6;
  color: #fff !important;
}
.linkedin i {
  color: #fff !important;
}
.linkedin:hover {
  background-color: #009de9 !important;
}
.microsoft {
  background-color: #2672ec;
  color: #fff !important;
}
.microsoft i {
  color: #fff !important;
}
.microsoft:hover {
  background-color: #5590f0 !important;
}
.windows {
  background-color: #2672ec;
  color: #fff !important;
}
.windows i {
  color: #fff !important;
}
.windows:hover {
  background-color: #5590f0 !important;
}
.odnoklassniki {
  background-color: #f4731c;
  color: #fff !important;
}
.odnoklassniki i {
  color: #fff !important;
}
.odnoklassniki:hover {
  background-color: #f6914d !important;
}
.openid {
  background-color: #f7931e;
  color: #fff !important;
}
.openid i {
  color: #fff !important;
}
.openid:hover {
  background-color: #f9ab4f !important;
}
.pinterest {
  background-color: #cb2027;
  color: #fff !important;
}
.pinterest i {
  color: #fff !important;
}
.pinterest:hover {
  background-color: #e03e44 !important;
}
.reddit {
  background-color: #eff7ff;
  color: #000 !important;
}
.reddit i {
  color: #000 !important;
}
.reddit:hover {
  background-color: #ffffff !important;
}
.soundcloud {
  background-color: #ff5500;
  color: #fff !important;
}
.soundcloud i {
  color: #fff !important;
}
.soundcloud:hover {
  background-color: #ff7733 !important;
}
.tumblr {
  background-color: #2c4762;
  color: #fff !important;
}
.tumblr i {
  color: #fff !important;
}
.tumblr:hover {
  background-color: #3c6085 !important;
}
.twitter {
  background-color: #55acee;
  color: #fff !important;
}
.twitter i {
  color: #fff !important;
}
.twitter:hover {
  background-color: #83c3f3 !important;
}
.vimeo {
  background-color: #1ab7ea;
  color: #fff !important;
}
.vimeo i {
  color: #fff !important;
}
.vimeo:hover {
  background-color: #49c6ee !important;
}
.vk {
  background-color: #587ea3;
  color: #fff !important;
}
.vk i {
  color: #fff !important;
}
.vk:hover {
  background-color: #7897b6 !important;
}
.yahoo {
  background-color: #720e9e;
  color: #fff !important;
}
.yahoo i {
  color: #fff !important;
}
.yahoo:hover {
  background-color: #9412cd !important;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

pre{
      padding: 16px 20px 0px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.info{
  font-size: 1.3rem;
  text-align: center;
}